# Example pipeline config for seed-from-alignment
#
# This is designed to run inside the `example/` directory with the CaCoFold
# outputs from the 9E5I cobalamin riboswitch test case.
#
# You can use YAML (as shown here) or JSON; the CLI will auto-detect based
# on the file extension.

# --- CaCoFold inputs ---
sto: combined_1.cacofold.sto
cov: combined_1.cacofold.cov
sto: /home/lukas/research/seed-from-alignment/seed-from-alignment/example/combined_1.cacofold.sto
cov: /home/lukas/research/seed-from-alignment/seed-from-alignment/example/combined_1.cacofold.cov
seq_name: "4GMA_1_Chain"   # sequence ID in the .sto file


#fold_exe: "/path/to/RNAstructure/exe/Fold"
allsub_exe: "/home/lukas/research/RNAstructure/exe/AllSub"
#duplex_exe: "/path/to/RNAstructure/exe/DuplexFold"
duplex_exe: "/home/lukas/research/RNAstructure/exe/DuplexFold"

# --- Sampling parameters (pk sampler) ---
sample:
  n_samples: 1
  burn_in: 1000
  thin: 100
  min_loop_sep: 2
  beta: 1
  seed: 0
  pk_alpha: 2
<<<<<<< HEAD
  pk_filter_frac: 0.025
  pk_filter_max_cross_per_pair: 4
  pk_filter_max_total_cross: 20
  pk_depth_limit: 1

  cov_mode: "logE"          # "off", "score", "power", ...
=======
  pk_filter_frac: 0.02
  pk_filter_max_cross_per_pair: 2
  pk_filter_max_total_cross: 10

  cov_mode: "logE"          # "off", "score", "power", ...
  cov_alpha: 2.0
  cov_min_power: 1.0
  cov_forbid_negative: True
  cov_negative_E: 1.0

  pk_filter_frac: 0.025
  pk_filter_max_cross_per_pair: 4
  pk_filter_max_total_cross: 20
  pk_depth_limit: 1

  cov_mode: "logE"          # "off", "score", "power", ...
>>>>>>> refs/remotes/origin/main
  cov_alpha: 3.0
  cov_min_power: 1
  cov_forbid_negative: True
  cov_negative_E: 1

# --- Refinement of long unpaired regions (RNAstructure Fold / DuplexFold) ---
refine:
  min_unpaired: 3               # internal '.' stretch length to trigger Fold
#  min_terminal_unpaired: 4      # 5'/3' terminal '.' stretch for DuplexFold
  temperature: 310              # null => use RNAstructure default
  allsub_abs: 0.1               # Max absolute free energy difference
  #allsub_pct: 100               # Max percent energy difference
  fold_extra_args: []            # e.g. ["-si", "SHAPE.dat"]

# --- Plausibility filter (ensure_valid) ---
ensure_valid:
  max_total_crossings: 20
  max_crossings_per_pair: 4
  max_pk_fraction: 0.20

# --- Rosetta-ready / clustering ---
rosetta:
  hamming_threshold: 0
  hamming_frac: 0.0
<<<<<<< HEAD
=======
  max_structures: 100000
>>>>>>> refs/remotes/origin/main
  max_structures: 500

# --- I/O layout ---
io:
  work_dir: "./pipeline_output"

  # These are relative to work_dir:
  consensus_db: "9E5I_consensus.db"
  refined_db: "9E5I_refined_consensus.db"
  sampled_db: "9E5I_sampled.db"
  valid_db: "9E5I_sampled_valid.db"
  rosetta_db: "9E5I_sampled_rosetta.db"
  summary: "9E5I_summary_new.txt"

